body{
	font-family: "Microsoft Yahei";
	margin:0px;
	background-color: #dedede;
	font-size: 16px;
}

header{
	background-color: #333;
	display: block;
	width: 100%;
}

header .logo{
	max-height: 48px;
	margin: 10px 40px 3px;
}

nav{
	display: inline;
}

.header-nav{
	float: right;
	list-style: disc;
	display: inline;
	margin-right: 20px
}

.header-nav li{
	display: inline;
}

.header-nav li a{
	text-decoration: none;
	color: white;
	font-size: 10px;
	margin-left: 1em;
}

.header-nav li a:hover{
	color: gray;
}

.left{
	float: left;
	margin: 20px;
	width: 70%;
}

.left .passage+.passage{
	margin-top: 20px;
}

.passage{
	padding: 20px;
	background-color: white;
	box-shadow: 3px 3px 3px #999;
	overflow: hidden;
}

.passage img{
	max-width: 350px;
}

.indent{
	text-indent: 2em;
}

h3{
	font-size: 1em;
	color: #777;
}


p.author-time{
	font-size: 0.8em;
	color: #999;
	text-indent: 0px;
}

.passage ul{
	list-style: none;
}

.passage li{
	display: inline-block;
}

.pictures div{
	border: 1px solid #ccc;
	margin:10px;
	padding:0px 10px 10px 10px; 
	display: inline-block;
	clear: both;
}

.pictures img{
	max-width: 100px;
}

.pictures p{
	text-align: center;
	font-size: 0.8em;
	line-height: 0.5em;
}

table{
	width: 100%;
	border-collapse: collapse;
	margin:0;
	padding: 0;
}

thead{
	text-align: left;
	color: white;
	background-color: #333;
	font-weight: bold;
}

tfoot{
	background-color: #ccc;
	font-weight: bold;
}

th,td {
	border: 1px solid #ccc;
	padding: 5px;
}

.sidebar>h2{
	font-size: 1em;
	border-left: 5px solid #ccc;
	padding: 10px;
}

.sidebar{
	margin: 20px;
	margin-left: 0;
	padding: 20px;
	float: right;
	width: 300px;
	background-color: white;
	box-shadow: 3px 3px 3px #999;
}

label.title{
	font-size: 0.8em;
	display: inline-block;
	text-align: right;
	width: 30%;
	margin-top: 0.7em;
	margin-right: 1em;
}

.hint{
	color: #999;
	font-size: 0.8em;
}

.form-block{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

textarea{
	vertical-align: top;
	width: 60%;
	height: 7em;
	margin-top: 10px;
	font-size: 1em;
}

.form-submit{
	width: 100%;
	border-radius: 9px;
	height: 40px;
	background-color: #3B71E4;
	color: white;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background-color:black;
	color: white;
	padding: 20px;
	width: 100%;
}

main{overflow: hidden;}